
@media only screen and (max-width:601px) { 
    .knowledge-map-container {
        border: 1px solid #000; 
        height: 300px; 
        width:95%;
        margin-top: 3%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .social-btn-container {
        list-style-type: none;
        padding: 0;
    }

    .social-btn-container li{
        display: inline;
    }

    .social-btn {
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width:1024px) and (min-width:602px) { 
    .knowledge-map-container {
        border: 1px solid #000; 
        height: 400px; 
        width:95%;
        margin-top: 3%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .social-container {
        width: 95%;
        margin-top: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        border-bottom: 5px solid #97CBFF;
    }

    .social-btn-container {
        list-style-type: none;
        width: 100%;
        display: flex;
        
    }

    .social-btn-container li{
        width: 25%;
    }

    .social-btn-container li img{
        height: 100px;
    }

    .post-slide-show {
        width: 100%; /* 輪播圖寬度 */
        height: 300px; /* 輪播圖高度 */
        overflow: hidden; /* 隱藏超出輪播圖範圍的內容 */
    }

    @keyframes post-slide-show {
        0% { transform: translateX(0); } /* 初始位置 */
        33.33% { transform: translateX(-100%); } /* 第一個項目滑出 */
        66.66% { transform: translateX(-200%); } /* 第二個項目滑出 */
        100% { transform: translateX(0); } /* 回到初始位置 */
      }

}
@media screen and (max-width:1180px) and (min-width:1025px) { 
    
}
@media screen and (max-width:1920px) and (min-width:1181px) { 
    
}
@media only screen and (min-width:1921px) { 

}