<header class="header ">
    <div >
        <div>
            <img src="" alt="" data-btn="index"/>
        </div>
        <div class="search-bar-block ">
            <button class="menu-container" data-btn="menu">
                <img src="../static/img/menu_black.png" class="menu-icon"/>
            </button>
            <div class="search-bar">
                <input type="text" placeholder="請輸入關鍵字" id="key" class="search-input" data-input="keyword"/>
            </div>
            <button type="button" class="search-btn" data-btn="search">搜尋</button>
        </div>
    </div>
</header>