<head>
    <!-- 網頁icon -->
    <link rel="shortcut icon" href="../../static/img/tictagtoe_removebg.ico" type="image/x-icon">
    <!-- 引入JS套件 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/commonTools.js"></script>
    <!-- 引入JS套件 -->
    <link rel="stylesheet" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../static/css/button.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/css/bootstrap-icons.min.css">
</head>