<!DOCTYPE html>
<html lang="en">
{% include '/frame/head.html' %}

<script type="text/javascript" src="../static/js/pageFunction/about_us.js"></script>
<script type="text/javascript" src="../static/js/doc.ready/about_us.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/block.css">

<body>
    {% include '/frame/header.html' %}
    <!-- <header class="header ">
        <div>
            <div>
                <img src="" alt="" data-btn="index"/>
            </div>
            <div class="search-bar-block ">
                <button class="menu-container" data-btn="menu">
                    <img src="../static/img/menu_black.png" class="menu-icon"/>
                </button>
                <div class="search-bar"> -->
                    <!-- <input type="text" placeholder="請輸入關鍵字" id="key" class="search-input" data-input="keyword"/> -->
                <!-- </div> -->
                <!-- <button type="button" class="search-btn" data-btn="search">搜尋</button> -->
            <!-- </div>
        </div>
    </header> -->
    <main>
        <style>
            .block-ui {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 9999;
            }

            .block-ui-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 9999;
            }

            .block-ui-content {
                background-color: white;
                padding: 20px;
                border-radius: 5px;
                text-align: center;
                z-index: 10000;
            }

        </style>
        <!-- <div class="menu-title-div" data-block="menu">
            <ul class="menu-title-container" >
                <li class="menu-title">
                    <a href="#" title="會員資料">會員資料</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="個人筆記">個人筆記</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="好有管理">好友管理</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="Hashtag管理">Hashtag管理</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="客服中心">客服中心</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="關於我們">關於我們</a>
                </li>
            </ul>
        </div> -->

        <div class="container-fluid fs-1 mt-5">
            <div class="row text-center">
                <div class="col">
                    <h1>關於我們</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3 mb-5">
            <hr style="height: 10px; background-color: #97CBFF;">
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/Chen.png" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 50%;" alt="">
                </div>
                <div class="col-6 text-center" style="font-size: 65px;">
                    <span><b>陳貞</b></span>
                </div>
            </div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>
        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/Wu.png" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 50%;" alt="">
                </div>
                <div class="col-6 text-center" style="font-size: 65px;">
                    <span><b>吳岱芸</b></span>
                </div>
            </div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>
        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/Jiang.png" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 50%;" alt="">
                </div>
                <div class="col-6 text-center" style="font-size: 65px;">
                    <span><b>姜智森</b></span>
                </div>
            </div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>
        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/Xu.png" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 50%;" alt="">
                </div>
                <div class="col-6 text-center" style="font-size: 65px;">
                    <span><b>徐紀揚</b></span>
                </div>
            </div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>
        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/Zhang.png" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 50%;" alt="">
                </div>
                <div class="col-6 text-center" style="font-size: 65px;">
                    <span><b>張鈞量</b></span>
                </div>
            </div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>
        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/Li.png" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 50%;" alt="">
                </div>
                <div class="col-6 text-center" style="font-size: 65px;">
                    <span><b>李世彥</b></span>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>

    </main>
    
    {% include '/frame/footer.html' %}

</body>
</html>