<!DOCTYPE html>
<html lang="en">
{% include '/frame/head.html' %}

<script type="text/javascript" src="../static/js/pageFunction/index.js"></script>
<script type="text/javascript" src="../static/js/doc.ready/index.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/block.css">
<link rel="stylesheet" type="text/css" href="../static/css/friend_list.css">

<body>
    {% include '/frame/header.html' %}
    <!-- <header class="header ">
        <div>
            <div>
                <img src="" alt="" data-btn="index"/>
            </div>
            <div class="search-bar-block ">
                <button class="menu-container" data-btn="menu">
                    <img src="../static/img/menu_black.png" class="menu-icon"/>
                </button>
                <div class="search-bar"> -->
                    <!-- <input type="text" placeholder="請輸入關鍵字" id="key" class="search-input" data-input="keyword"/> -->
                <!-- </div> -->
                <!-- <button type="button" class="search-btn" data-btn="search">搜尋</button> -->
            <!-- </div>
        </div>
    </header> -->
    <main>
        
        <!-- <div class="menu-title-div" data-block="menu">
            <ul class="menu-title-container" >
                <li class="menu-title">
                    <a href="#" title="會員資料">會員資料</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="個人筆記">個人筆記</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="好有管理">好友管理</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="Hashtag管理">Hashtag管理</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="客服中心">客服中心</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="關於我們">關於我們</a>
                </li>
            </ul>
        </div> -->
        <div class="container-fluid fs-1 mt-5">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item change" style="width: 50%;">
              <a class="nav-link active" id="好友列表-tab" style="font-size: 48px; text-align: center; color: rgb(0, 0, 0);" data-bs-toggle="tab" href="#好友列表"aria-controls="好友列表" aria-selected="true">好友列表</a>              
            </li>
            <li class="nav-item change" style="width: 50%;">
              <a class="nav-link" id="搜尋好友-tab"  style="font-size: 48px; text-align: center; color: rgb(0, 0, 0);" data-bs-toggle="tab" href="#搜尋好友" aria-controls="搜尋好友" aria-selected="false">搜尋好友</a>
            </li>
        </ul>
       
        <div class="container-fluid mt-3 mb-5">
            <hr style="height: 10px; background-color: #97CBFF;">
        </div>
    <div class="tab-content">
        <div class="tab-pane fade show active text-center" id="好友列表" aria-labelledby="好友列表-tab">
            
        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/cat.jpg" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 25%;" alt="">
                </div>
                <div class="col-3 text-center" style="font-size: 65px;">
                    <span>冠貓</span>
                </div>
                <div class="col-3 text-center">
                    <button class="btn btn-light border-0 bg-transparent" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#97CBFF" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/cat.jpg" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 25%;" alt="">
                </div>
                <div class="col-3 text-center" style="font-size: 65px;">
                    <span>冠貓</span>
                </div>
                <div class="col-3 text-center">
                    <button class="btn btn-light border-0 bg-transparent" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#97CBFF" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/cat.jpg" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 25%;" alt="">
                </div>
                <div class="col-3 text-center" style="font-size: 65px;">
                    <span>冠貓</span>
                </div>
                <div class="col-3 text-center">
                    <button class="btn btn-light border-0 bg-transparent" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#97CBFF" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/cat.jpg" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 25%;" alt="">
                </div>
                <div class="col-3 text-center" style="font-size: 65px;">
                    <span>冠貓</span>
                </div>
                <div class="col-3 text-center">
                    <button class="btn btn-light border-0 bg-transparent" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#97CBFF" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/cat.jpg" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 25%;" alt="">
                </div>
                <div class="col-3 text-center" style="font-size: 65px;">
                    <span>冠貓</span>
                </div>
                <div class="col-3 text-center">
                    <button class="btn btn-light border-0 bg-transparent" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#97CBFF" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade text-center" id="搜尋好友" aria-labelledby="搜尋好友-tab">
        <div class="input-group">
            <input class="form-control form-control-lg bg-light fs-2" style="height: 80px;" type="text" placeholder="請輸入關鍵字" id="key" data-input="keyword" value="{{Keyword}}" aria-label="Search">
            <button class="btn btn-light border-0" type="button" data-btn="searchTag">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
        </div> 
        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/cat.jpg" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 25%;" alt="">
                </div>
                <div class="col-3 text-center" style="font-size: 65px;">
                    <span>冠貓</span>
                </div>
                <div class="col-3 text-center">
                    <button class="btn btn-light border-0 bg-transparent" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#97CBFF" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/cat.jpg" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 25%;" alt="">
                </div>
                <div class="col-3 text-center" style="font-size: 65px;">
                    <span>冠貓</span>
                </div>
                <div class="col-3 text-center">
                    <button class="btn btn-light border-0 bg-transparent" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#97CBFF" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/cat.jpg" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 25%;" alt="">
                </div>
                <div class="col-3 text-center" style="font-size: 65px;">
                    <span>冠貓</span>
                </div>
                <div class="col-3 text-center">
                    <button class="btn btn-light border-0 bg-transparent" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#97CBFF" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/cat.jpg" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 25%;" alt="">
                </div>
                <div class="col-3 text-center" style="font-size: 65px;">
                    <span>冠貓</span>
                </div>
                <div class="col-3 text-center">
                    <button class="btn btn-light border-0 bg-transparent" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#97CBFF" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-6 text-center">
                    <img src="../static/img/cat.jpg" class="mx-auto d-block" style="width: 250px; height: 250px; border: 5px solid #97CBFF; border-radius: 25%;" alt="">
                </div>
                <div class="col-3 text-center" style="font-size: 65px;">
                    <span>冠貓</span>
                </div>
                <div class="col-3 text-center">
                    <button class="btn btn-light border-0 bg-transparent" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#97CBFF" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row"></div>
        </div>

    </main>
    
    {% include '/frame/footer.html' %}

</body>
</html>