<!DOCTYPE html>
<html lang="en">
{% include '/frame/head.html' %}

<script type="text/javascript" src="../static/js/pageFunction/index.js"></script>
<script type="text/javascript" src="../static/js/doc.ready/index.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/block.css">

<body>
    {% include '/frame/header.html' %}
    <!-- <header class="header ">
        <div>
            <div>
                <img src="" alt="" data-btn="index"/>
            </div>
            <div class="search-bar-block ">
                <button class="menu-container" data-btn="menu">
                    <img src="../static/img/menu_black.png" class="menu-icon"/>
                </button>
                <div class="search-bar"> -->
                    <!-- <input type="text" placeholder="請輸入關鍵字" id="key" class="search-input" data-input="keyword"/> -->
                <!-- </div> -->
                <!-- <button type="button" class="search-btn" data-btn="search">搜尋</button> -->
            <!-- </div>
        </div>
    </header> -->
    <main>
        <style>
            .block-ui {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 9999;
            }

            .block-ui-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 9999;
            }

            .block-ui-content {
                background-color: white;
                padding: 20px;
                border-radius: 5px;
                text-align: center;
                z-index: 10000;
            }

            .hashtag_list {
                font-size: 35px;
            }

            .review_btn {
                font-size: 35px;
            }

        </style>
        <!-- <div class="menu-title-div" data-block="menu">
            <ul class="menu-title-container" >
                <li class="menu-title">
                    <a href="#" title="會員資料">會員資料</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="個人筆記">個人筆記</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="好有管理">好友管理</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="Hashtag管理">Hashtag管理</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="客服中心">客服中心</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="關於我們">關於我們</a>
                </li>
            </ul>
        </div> -->

        <div class="container-fluid fs-1 mt-5">
            <div class="row text-center">
                <div class="col">
                    <h1>Hashtag檢舉審核</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3 mb-5">
            <hr style="height: 10px; background-color: #97CBFF;">
        </div>

        <div class="container-fluid mt-5 mb-5">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11 fs-1" style="color: #97CBFF;">
                    <h1 style="font-size: 60px;">審核說明</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5 mb-5">
            <div class="row">
            </div>
        </div>

        <div class="container-fluid mt-5 hashtag_list">
            <div class="row text-center">
                <div class="col-4">
                    <span>新增的tag:</span>
                </div>
                <div class="col-4">
                    <p>通過時，新增此tag</p>
                    <p>拒絕時，刪除此tag</p>
                </div>
                <div class="col-4">
                    <span></span>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5 hashtag_list">
            <div class="row text-center">
                <div class="col-4">
                    <span>不適當的tag:</span>
                </div>
                <div class="col-4">
                    <p>通過時，恢復此tag為正常狀態</p>
                    <p>拒絕時，刪除此tag</p>
                </div>
                <div class="col-4">
                    <span></span>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5 mb-5">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11 fs-1" style="color: #97CBFF;">
                    <h1 style="font-size: 60px;">審核列表</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5 mb-5">
            <div class="row">
            </div>
        </div>

        {% for review in reviews %}
        <div class="container-fluid mt-5 hashtag_list">
            <div class="row text-center">
                <div class="col-6">
                    <span class="mx-3">{{ review.tag_id }}</span>
                    <span class="mx-3">{{ review.tag_name }}</span>
                </div>
                <div class="col-3">
                    <button type="button" id="approve_{{ review.feedback_id }}" class="btn btn-outline-success review_btn">通過</button>
                </div>
                <div class="col-3">
                    <button type="button" id="reject_{{ review.feedback_id }}" class="btn btn-outline-danger review_btn">拒絕</button>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5 hashtag_list">
            <div class="row text-center">
                <div class="col-6">
                    <span>審查原因</span>
                </div>
                <div class="col-6">
                    <span>{{ review.reason }}</span>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5 mb-5">
            <hr style="height: 5px; background-color: #97CBFF;">
        </div>

        <script>
            document.getElementById('approve_{{ review.feedback_id }}').addEventListener('click', async function () {
                var fullId = this.id;
                var feedbackId = fullId.split('_')[1];
                console.log("approve id: ", feedbackId);
                let url = `/update/hashtag/status/accept`;
                let headers = {
                    "Content-Type": "application/json"
                }
                let body = {
                    "feedbackId": feedbackId
                }
                try {
                    let response = await fetch(url, {method: "POST", headers: headers, body: JSON.stringify(body)});
                    let result = await response.json();
                    console.log(result.result);
                    if (result.result === "Update successful") {
                        console.log("Update successful");
                        alert(result.result);
                        window.location.href = "/hashtag_review";
                    }
                    else {
                        console.log("Update failed");
                        alert(result.result);
                    }
                }
                catch {
                    console.error("Error:", error);
                }
            });
        

            document.getElementById('reject_{{ review.feedback_id }}').addEventListener('click', async function () {
                var fullId = this.id;
                var feedbackId = fullId.split('_')[1];
                console.log("reject id: ", feedbackId);
                let url = `/update/hashtag/status/reject`;
                let headers = {
                    "Content-Type": "application/json"
                }
                let body = {
                    "feedbackId": feedbackId
                }
                try {
                    let response = await fetch(url, {method: "DELETE", headers: headers, body: JSON.stringify(body)});
                    let result = await response.json();
                    console.log(result.result);
                    if (result.result === "Delete successful") {
                        console.log("Delete successful");
                        alert(result.result);
                        window.location.href = "/hashtag_review";
                    }
                    else {
                        console.log("Delete failed");
                        alert(result.result);
                    }
                }
                catch {
                    console.error("Error:", error);
                }
            });
          </script>

        {% endfor %}

    </main>
    
    {% include '/frame/footer.html' %}
    <script src="../static/js/pageFunction/hashtag_review.js"></script>
</body>
</html>