<!DOCTYPE html>
<html lang="en">
{% include '/frame/head.html' %}

<script type="text/javascript" src="../static/js/pageFunction/hashtag_manage_new.js"></script>
<script type="text/javascript" src="../static/js/doc.ready/hashtag_manage_new.js"></script>

<link rel="stylesheet" type="text/css" href="../static/css/block.css">

<body>
    {% include '/frame/header.html' %}
    <!-- <header class="header ">
        <div>
            <div>
                <img src="" alt="" data-btn="index"/>
            </div>
            <div class="search-bar-block ">
                <button class="menu-container" data-btn="menu">
                    <img src="../static/img/menu_black.png" class="menu-icon"/>
                </button>
                <div class="search-bar"> -->
                    <!-- <input type="text" placeholder="請輸入關鍵字" id="key" class="search-input" data-input="keyword"/> -->
                <!-- </div> -->
                <!-- <button type="button" class="search-btn" data-btn="search">搜尋</button> -->
            <!-- </div>
        </div>
    </header> -->
    <main>
        <style>
            .block-ui {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 9999;
            }

            .block-ui-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 9999;
            }

            .block-ui-content {
                background-color: white;
                padding: 20px;
                border-radius: 5px;
                text-align: center;
                z-index: 10000;
            }

        </style>
        <!-- <div class="menu-title-div" data-block="menu">
            <ul class="menu-title-container" >
                <li class="menu-title">
                    <a href="#" title="會員資料">會員資料</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="個人筆記">個人筆記</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="好有管理">好友管理</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="Hashtag管理">Hashtag管理</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="客服中心">客服中心</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="關於我們">關於我們</a>
                </li>
            </ul>
        </div> -->
        
        <div class="container-fluid fs-1 mt-5">
            <div class="row text-center">
                <div class="col">
                    <h1>新增物件</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3 mb-5">
            <hr style="height: 10px; background-color: #97CBFF;">
        </div>
        
        <form id="hashtagForm" action="#" method="POST" enctype="multipart/form-data">
        <div class="container-fluid mt-5">
            <div class="row align-items-center">
                <div class="col">
                    <img id="uploadedImage" src="../static/img/placeholder.jpg" class="mx-auto d-block" style="width: 500px; height: 480px; border: 5px solid #97CBFF; border-radius: 25%;" alt="Uploaded Image">
                    <input name="Picfile" type="file" id="uploadButton" style="position: absolute; left: -9999px;" accept="image/*" required>
                </div>
            </div>
        </div>
        
        
        <div class="container fs-1 mt-5">
            <div class="row align-items-center mb-3">
                名稱：
                    <input type="text" name="TargetName" class="form-control form-control-lg" style="height: 80px; font-size: 40px; width: 80%; float: right;" placeholder="請輸入名稱" required>
            </div>
        </div>

        <div class="container fs-1 mt-5">
            <div class="row align-items-center mb-3">
                圖片寬度：
                    <input type="text" class="form-control form-control-lg" style="height: 80px; font-size: 40px; width: 70%; float: right;" placeholder="請輸入數值" required>
            </div>
        </div>

        <div class="container fs-1 mt-5">
            <div class="row align-items-center mb-3">
                種類：
                <select id="hashtag_type" style="width: 80%; height: 50px;" name="Type" required>
                    <option value="1">人物 People</option>
                    <option value="2">地點 Places</option>
                    <option value="3">事物 Things</option>
                  </select>
            </div>
        </div>

        <div class="container fs-1 mt-5">
            <div class="row align-items-center mb-3">
                <div class="col text-center">
                    <label for="exampleFormControlInput1" class="form-label">敘述</label>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col text-center">
                    <textarea name="Description" maxlength="50" class="form-control form-control-lg" rows="5" style="font-size: 40px; width:100%" id="exampleFormControlInput4" placeholder="請為此圖片提供一份50字的簡單介紹！" required></textarea>
                </div>
            </div>
        </div>
        <br>
        <div class="col text-center">
            <a href="/hashtag_manage" class="btn border-0 text-light btn-lg fs-1" style="background-color: #97CBFF; cursor: pointer; margin-right: 50px;">取消</a>
            <input type="submit" value="確認新增" class="btn border-0 text-light btn-lg fs-1" style="background-color: #f5aad3; cursor: pointer;">
        </div>

        </form>
    <!-- 測試用
        {% for content in user_TargetName %}
            {{ content }}
        {% endfor %}
        {% for content in user_ObjName %}
            {{ content }}
        {% endfor %}
        {% for content in user_Type %}
            {{ content }}
        {% endfor %}
        {% for content in user_Des %}
            {{ content }}
        {% endfor %}
        {% for content in user_Targetid %}
            {{ content }}
        {% endfor %}
        {% for content in user_nf %}
            {{ content }}
        {% endfor %}
        {% for content in user_n %}
            {{ content }}
        {% endfor %}
    -->
    </main>
    {% include '/frame/footer.html' %}
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const uploadButton = document.getElementById('uploadButton');
      const uploadedImage = document.getElementById('uploadedImage');
  
      uploadedImage.addEventListener('click', () => {
        uploadButton.click();
      });
  
      uploadButton.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = (e) => {
            uploadedImage.src = e.target.result;
          };
          reader.readAsDataURL(file);
        } else {
          uploadedImage.src = '../static/img/placeholder.jpg';
        }
      });
    });
  </script>


</html>