<!DOCTYPE html>
<html lang="en">
{% include '/frame/head.html' %}

{# Get關聯的Tag #}

{% if RelTagName %}
    <script type="text/javascript">
        var relTagName = []
        {% for item in RelTagName %}
            relTagName.push('{{item}}');
        {% endfor %}
        
    </script>
{% else %}
    <script type="text/javascript">
        var relTagName = [];
    </script>
{% endif %}

<script type="text/javascript" src="../static/js/pageFunction/index.js"></script>
<script type="text/javascript" src="../static/js/doc.ready/index.js"></script>

<body>
    {% include '/frame/header.html' %}
    <main>
        <!-- d3-cloud 文字雲 Start -->
        <div id="tag" style="border: 1px solid #eee; height: 320px; width:525px;"></div>

        <script>
            //取得d3顏色
            var fill = d3.scaleOrdinal(d3.schemeCategory10);
            //文字雲/關鍵字，及字型大小（這邊只放三個）
            var data = [];
            for (let i = 0; i < relTagName.length; i++) {
                data.push({text: relTagName[i], size:20});
            }
            //取得呈現處的寬、高
            var w = parseInt(d3.select("#tag").style("width"), 10);
            var h = parseInt(d3.select("#tag").style("height"), 10);
        
            d3.layout.cloud().size([w, h])
                    .words(data)
                    .padding(2)
                    .rotate(function () {
                        return ~~(Math.random() * 2) * 90;
                    })
                    .rotate(function () {
                        return 0;
                    })
                    .fontSize(function (d) {
                        return d.size;
                    })
                    .on("end", draw)
                    .start();
        
            function draw(words) {
                d3.select("#tag").append("svg")
                        .attr("width", w)
                        .attr("height", h)
                        .append("g")
                        .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")")
                        .selectAll("text")
                        .data(words)
                        .enter().append("text")
                        .style("font-size", function (d) {
                            return d.size + "px";
                        })
                        .style("font-family", "Microsoft JhengHei")
                        .style("cursor", 'pointer')
                        .style("fill", function (d, i) {
                            return fill(i);
                        })
                        .attr("text-anchor", "middle")
                        .attr("transform", function (d) {
                            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                        })
                        .text(function (d) {
                            return d.text;
                        })
                        .on("click", function (d) {
                            window.open("https://www.google.com/search?q=" + d.text, '_blank');
                        });
            }
        </script>
        <!-- d3-cloud 文字雲 End -->

        <!-- Social Media Button Start -->
        <div data-container="socialContainer">
            <ul>
                <li>
                    <img src="" data-social-btn="facebook"/>
                </li>
                <li>
                    <img src="" data-social-btn="instagram"/>
                </li>
                <li>
                    <img src="" data-social-btn="twitter"/>
                </li>
                <li>
                    <img src="" data-social-btn="tictagtoe"/>
                </li>
            </ul>
        </div>
        <!-- Social Media Button End -->

        <!-- Set Post Start-->

        <div data-container="socialPost"></div>

        <!-- Set Post End-->

        <!-- Control page button Start-->
        <div data-container="controlPage">
            <div>
                <!-- 上一頁 -->
                <img src="" data-page-btn="previous" />
            </div>
            <div>
                <!-- 下一頁 -->
                <img src="" data-page-btn="next" />
            </div>
        </div>
        <!-- Control page button End -->
    </main>
    

    {% include '/frame/footer.html' %}
</body>
</html>