<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for text in post_text%}
    {% if text %}
    <p>發文內容: {{ text }}</p>
    {% endif %}
    {% endfor %}

    {% for name in post_name%}
    {% if name %}
    <p>發文者: {{ name }}</p>
    {% endif %}
    {% endfor %}

    {% for club in post_club%}
    {% if club %}
    <p>發文社團: {{ club }}</p>
    {% endif %}
    {% endfor %}

    {% for timme in time_list%}
    {% if time %}
    <p>發文時間: {{ timme }}</p>
    {% endif %}
    {% endfor %}


</body>
</html>