<!DOCTYPE html>
<html lang="en">
{% include '/frame/head.html' %}

<script type="text/javascript" src="../static/js/pageFunction/index.js"></script>
<script type="text/javascript" src="../static/js/doc.ready/index.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/block.css">

<body>
    {% include '/frame/header.html' %}
    <!-- <header class="header ">
        <div>
            <div>
                <img src="" alt="" data-btn="index"/>
            </div>
            <div class="search-bar-block ">
                <button class="menu-container" data-btn="menu">
                    <img src="../static/img/menu_black.png" class="menu-icon"/>
                </button>
                <div class="search-bar"> -->
                    <!-- <input type="text" placeholder="請輸入關鍵字" id="key" class="search-input" data-input="keyword"/> -->
                <!-- </div> -->
                <!-- <button type="button" class="search-btn" data-btn="search">搜尋</button> -->
            <!-- </div>
        </div>
    </header> -->
    <main>
        <style>
            .block-ui {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 9999;
            }

            .block-ui-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 9999;
            }

            .block-ui-content {
                background-color: white;
                padding: 20px;
                border-radius: 5px;
                text-align: center;
                z-index: 10000;
            }

        </style>
        <!-- <div class="menu-title-div" data-block="menu">
            <ul class="menu-title-container" >
                <li class="menu-title">
                    <a href="#" title="會員資料">會員資料</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="個人筆記">個人筆記</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="好有管理">好友管理</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="Hashtag管理">Hashtag管理</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="客服中心">客服中心</a>
                </li>
                <li class="menu-title">
                    <a href="#" title="關於我們">關於我們</a>
                </li>
            </ul>
        </div> -->

        <div class="container-fluid fs-1 mt-5">
            <div class="row text-center">
                <div class="col">
                    <h1>{{ postItem.title }}</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3 mb-5">
            <hr style="height: 10px; background-color: #97CBFF;">
        </div>

        {% if view_model %}
        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-4 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#97CBFF" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                    </svg>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control-plaintext" id="user_name" value="{{ postItem.user_name }}" readonly>
                    <!-- <span>{{ postItem.time }}</span> -->
                </div>
            </div>
        </div>
        {% endif %}

        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-4 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#97CBFF" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control-plaintext" id="time" value="{{ postItem.time }}" readonly>
                    <!-- <span>{{ postItem.time }}</span> -->
                </div>
            </div>
        </div>

        <!-- <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-4 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#97CBFF" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                    </svg>
                </div>
                <div class="col-8">
                    <span>@guanmao</span>
                </div>
            </div>
        </div> -->

        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-4 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#97CBFF" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                </div>
                <div class="col-8">
                    {% if view_model %}
                    <input type="text" class="form-control-plaintext" id="location" value="{{ postItem.location }}" readonly>
                    {% endif %}
                    {% if edit_model %}
                    <input type="text" class="form-control-plaintext" id="location" value="{{ postItem.location }}">
                    {% endif %}
                    <!-- <span>{{ postItem.location }}</span> -->
                </div>
            </div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-4 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#97CBFF" class="bi bi-hash" viewBox="0 0 16 16">
                        <path d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
                    </svg>
                </div>
                <div class="col-8">
                    {% if view_model %}
                    <input type="text" class="form-control-plaintext" id="tags" value="{{ postItem.tags }}" readonly>
                    {% endif %}
                    {% if edit_model %}
                    <input type="text" class="form-control-plaintext" id="tags" value="{{ postItem.tags }}">
                    {% endif %}
                    <!-- <a href="/listnoteshashtag" class="link-dark" style="text-decoration: none;">{{ tag }}</a> -->
                </div>
            </div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>

        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col-4 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#97CBFF" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </div>
                <div class="col-8">
                    {% if view_model %}
                    <textarea name="content" class="form-control-plaintext" id="content" cols="30" rows="10" readonly>{{ postItem.content }}</textarea>
                    {% endif %}
                    {% if edit_model %}
                    <textarea name="content" class="form-control-plaintext" id="content" cols="30" rows="10">{{ postItem.content }}</textarea>
                    {% endif %}
                    <!-- <span>
                        {{ postItem.content }}
                    </span> -->
                </div>
            </div>
        </div>

        <input type="hidden" id="postId" name="postId" value="{{ postItem.id }}">

        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>
        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>
        <div class="container-fluid fs-1 mt-5">
            <div class="row"></div>
        </div>

        {% if edit_model %}
        <div class="container-fluid fs-1 mt-5">
            <div class="row align-items-center">
                <div class="col text-center">
                    <button onclick="saveChanges()" class="btn border-0 text-light btn-lg fs-1" style="background-color: #97CBFF; cursor: pointer;">
                        儲存筆記
                    </button>
                    <!-- <a href="/editnote" class="btn border-0 text-light btn-lg fs-1" style="background-color: #97CBFF; cursor: pointer;">
                        <span>編輯筆記</span>
                    </a> -->
                </div>
                <div class="col text-center">
                    <button onclick="deletePost()" class="btn border-0 text-light btn-lg fs-1" style="background-color: #f5aad3; cursor: pointer;">
                        刪除筆記
                    </button>
                    <!-- <a href="#" class="btn border-0 text-light btn-lg fs-1" style="background-color: #f5aad3; cursor: pointer;">
                        <span>刪除筆記</span>
                    </a> -->
                </div>
            </div>
        </div>
        {% endif %}

    </main>
    
    {% include '/frame/footer.html' %}
    <script src="../static/js/pageFunction/personal_notes.js"></script>
</body>
</html>